# This is a basic workflow to help you get started with Actions

name: tests

# Controls when the action will run. 
on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [2.7, 3.5, 3.6, 3.7, 3.8]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install agent
      run: |
        python setup.py sdist bdist_wheel
    - name: Install dependencies
      run: |
        make tools
    - name: Run checks from the Makefile
      run: |
        make check
